<div class="tooltip-example row" id="tooltip">
  <div tooltip="Button A" class="col-lg-12 col-md-12 col-sm-6 col-xs-6 mt-1 mb-1" placement="right">
    <Button id="button_a" type="button" class="btn btn-primary">Button A</Button>

  </div>
  <div tooltip="Button B" class="col-lg-12 col-md-12 col-sm-6 col-xs-6 mt-1 mb-1"  placement="right">
    <Button id="button_b" type="button" class="btn btn-primary">Button B</Button>    
  </div>
</div>
